<div class="card-header">
            <h1>Editar Película...</h1>
            <div><a href="/shows" class="btn btn-lg btn-outline-success">
                Volver
            </a></div>
        </div>
        <div class="card-body">
            <form id="tvshowedit" action="/shows?_method=PUT" method="POST" enctype="application/json">
                <input type="hidden" name="_id" value="{{tvshow._id}}">
                <div class="form-group">
                    <input class="form-control" type="text" name="title" placeholder="Título de la película..." required minlength="5" value="{{tvshow.title}}">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="year" placeholder="Año..." required min="1900" max="2030" value="{{tvshow.year}}">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="country" placeholder="Pais..." required value="{{tvshow.country}}">
                </div>
                <div class="form-group ">
                    <label class="input-group-prepend">
                        <span class="btn btn-primary">Cargar poster<input type="file" name="movieimage" class="d-none" onchange="onFileSelected(event);">
                        </span>
                        <input class="form-control" type="text" readonly name="posterName" id="posterName" placeholder="Poster..." required value="{{tvshow.posterName}}">
                    </label>
                    <input type="hidden" name="poster" id="poster" class="d-none" value="{{tvshow.poster}}" >
                </div>
                <div class="form-group">
                    <img class="img img-thumbnail" src="{{tvshow.poster}}" style="width: 200px; height=320px;">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="seasons" placeholder="Temporada..." required min="1" value="{{tvshow.seasons}}">
                </div>
                <div class="form-group">
                    <select class="form-control" type="text" name="genre" placeholder="Genero..." required>
                        <option value="" disabled selected>Seleccione un género...</option>
                        <option value="Drama" {{selected tvshow.genre "Drama"}}>Drama</option>
                        <option value="Fantasy" {{selected tvshow.genre "Fantasy"}}>Fantasia</option>
                        <option value="Sci-Fi" {{selected tvshow.genre "Sci-Fi"}}>Ciencia Ficción</option>
                        <option value="Thriller" {{selected tvshow.genre "Thriller"}}>Suspenso</option>
                        <option value="Comedy" {{selected tvshow.genre "Comedy"}}>Comedia</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea class="form-control" type="text" name="summary" placeholder="Resumen..." required cols="250" rows="5">{{tvshow.summary}}</textarea>
                </div>
                <div class="mt-3">
                    <button class="btn btn-success btn-lg" type="submit">Guardar</button>
                    <button class="btn btn-danger btn-lg" type="reset">Limpiar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/javascripts/fileupload.js"></script>